{% extends 'questions/base.html' %}

<!--
###############################################
        TITLE BLOCK
###############################################
-->
{% block title %} Not Found {% endblock %}


<!--
###############################################
       LEFT CONTENT BLOCK
###############################################
-->
{% block left_content_data %}
<div style="margin-top: 40px;"></div>
<h1> The Page Was Not Found </h1>
{% endblock %}

{% block right_content_data %}
{% endblock %}