{% extends 'questions/base.html' %}

<!--
###############################################
        TITLE BLOCK
###############################################
-->
{% block title %} Hasker {% endblock %}


<!--
###############################################
       LEFT CONTENT BLOCK
###############################################
-->
{% block left_content_data %}

<form method="post">
    {% csrf_token %}
    <div style="margin-left: 25%; margin-top: 100px; font-size: 20px; color: #bbc">
        <table>
            <tr>
                <td style="width: 50%">ASK A QUESTION</td>
                <td style="height: 100px; text-align: left">
                    <input class="btn_spec try-ask" style="padding: 10px 50px; margin: 0% 15%;" type="button"
                           value="Submit"/>
                    <input class="btn_spec make-ask" style="padding: 10px 50px; margin: 0% 15%; display: none;"
                           type="submit" value="Submit"/>
                </td>
            </tr>

            {% for field in form %}
            <tr>
                <td> {{ field.label }}</td>
                <td id="{{ field.label }}"> {{ field }}</td>
            </tr>
            <tr>
                <td style="height:10px"></td>
            </tr>
            {% endfor %}

        </table>

        <div class="alert alert-questions alert-dismissible alert-tags-errors">
            Number of Tags Should Be No More Than 3
        </div>

    </div>
</form>

{% endblock %}


