<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> {% block title %} {% endblock %} </title>
    {% load static %}
    <link href="{% static '/bootstrap/css/bootstrap-responsive.css' %}" rel="stylesheet">
    <link href="{% static '/bootstrap/css/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static '/css/questions.css' %}" rel="stylesheet">
    <link rel="shortcut icon" type="image/png" href="{% static '/favicon.ico' %}"/>
    <script src="{% static '/jquery/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static '/jquery/jquery-questions.js' %}"></script>
</head>
<body>

<!-- START OF A HEADER -->
<div>
    {% include 'questions/header.html' %}
</div>
<hr style="width: 90%; margin-left: 5%">
<!-- END OF A HEADER -->


<div>
    <div class="body_div" style="width: 70%">
        {% block left_content_data %} {% endblock %}
    </div>
    <div class="body_div" style="width: 25%; vertical-align: top">

        {% block right_content_data %}
        <!-- BLOCK WITH TRENDING -->
        <div class="alert alert-questions alert-dismissible alert-ask-auth">
            Please Log In to Ask a Question
        </div>
        <div style="height: 30px"></div>
        <div id="is-authenticated" style="display:none">{{ request.user.is_authenticated }}</div>
        <div id="user-id-field" style="display:none">{{ request.user.id }}</div>
        <a href="{% url 'questions:ask' %}" class="btn_spec not_chosen go-to-ask" style="padding: 2% 10%">Ask</a>
        <div style="height: 30px"></div>

        <h2>Trending</h2>

        <div id="trending">

        </div>
        <!-- END OF BLOCK WITH TRENDING -->

        {% endblock %}
    </div>
</div>


<p style="height:20px"></p>

</body>
</html>
