<!--
###############################################
        HEADER
###############################################
-->

<div class="header_div" style="width: 70%">
    <div class="header_div">
        <h1><a style="color: white; text-decoration: none;" href="{% url 'home' %}"> Hasker </a></h1>
    </div>
    <div class="header_div" style="width: 40%">
        <form method="get" action="{% url 'questions:search' %}">
            <input type="text" name="search" placeholder="Search.." required>
        </form>
    </div>
</div>

{% if user.is_authenticated %}
{% load static %}
<div class="header_div not_chosen" style="width: 12%; margin-top: 2%; margin-bottom: 0%;">
    <a href="{% url 'settings' %}">
        {% if request.user.userprofile.avatar %}
        <img src="/{{ request.user.userprofile.avatar }}" height="30%" width="40%">
        {% else %}
        <img src="{% static '/incognito.png' %}" height="30%" width="40%">
        {% endif %}
    </a>
</div>
<div class="header_div not_chosen" style="width: 12%;">
    <a href="{% url 'do_logout' %}" class="btn_spec"> Sign out </a>
</div>
{% else %}
<div class="header_div not_chosen" style="width: 12%">
    <a href="{% url 'do_login' %}" class="btn_spec"> Log in </a>
</div>
<div class="header_div not_chosen" style="width: 12%">
    <a href="{% url 'signup' %}" class="btn_spec"> Sign up </a>
</div>
{% endif %}
