{% extends 'questions/base.html' %}

<!--
###############################################
        TITLE BLOCK
###############################################
-->
{% block title %} Hasker {% endblock %}


<!--
###############################################
       LEFT CONTENT BLOCK
###############################################
-->
{% block left_content_data %}
<!-- CHOICE OF LIST -->
<div class="body_div" style="width: 100%;">
    <button class="body_div btn_spec not-chosen by-date" style="margin-right: 5%; padding: 1% 1%;
            font-size: 20px">
        New Questions
    </button>
    <button class="body_div btn_spec chosen by-trend" style="margin-left: 5%; padding: 1% 1%;
            font-size: 20px">
        Hot Questions
    </button>
</div>
<!-- END OF CHOICE OF LIST -->

<!-- TREND LIST -->
<div class="body_div" id="trend-list" style="width: 100%">

</div>
<!-- END OF TREND LIST -->

<!-- DATE LIST -->
<div class="body_div hidden" id="date-list" style="width: 100%">

</div>
<!-- END OF DATE LIST -->

{% endblock %}


