{% extends 'questions/base.html' %}

<!--
###############################################
        TITLE BLOCK
###############################################
-->
{% block title %} {{ question.question_title }} {% endblock %}

<!--
###############################################
       LEFT CONTENT BLOCK
###############################################
-->

{% block left_content_data %}

<div>

    <div>
        <div class="body_div" style="width: 20%;"></div>
        <div class="body_div" style="font-size: 30px; text-align: right; margin-top: 2%;
        color: #878; line-height: 120%; width: 50%">
            {{ question }}
        </div>
        <br><br>
    </div>
    <div class="alert alert-questions">
        Please Login To Make a Vote
    </div>
    <div class="alert alert-questions">
        You Can't Vote On Your Own Question
    </div>
    <div class="body_div" style="width: 20%; padding: 10px; vertical-align: top;">
        <div>
            <button class="body_div btn_spec vote-btn-question {% if not user.is_authenticated %} no-auth {% endif %}"
                    value="q {{ question.id }} {{ question.rating }} up"
                    id="q_{{ question.id }}_bu"
                    data-author-id="{{ question.author.id }}"
                    style="padding: 1px; font-size: 17px; width: 7%;
                     border: 0px; background-color: rgba(0, 0, 15, .0);">▲
            </button>
        </div>
        <div id="q_{{ question.id }}">{{ question.rating }}</div>
        <div>
            <button class="body_div btn_spec vote-btn-question {% if not user.is_authenticated %} no-auth {% endif %}"
                    value="q {{ question.id }} {{ question.rating }} down"
                    id="q_{{ question.id }}_bd"
                    data-author-id="{{ question.author.id }}"
                    style="padding: 1px; font-size: 17px; width: 7%;
                     border: 0px; background-color: rgba(0, 0, 15, .0);">▼
            </button>
        </div>
    </div>
    <div class="body_div" style="width: 50%; text-align: justify">
        <p style="color: white">{{ question.question_text }}</p>
        <div>
            {% for tag in question.get_tags %}
            <div class="body_div" style="border: dotted 1px; float: left; margin: 5px;
                padding: 5px; font-style:italic; font-weight: 600; color: #656">
                <a href="/search/?search=tag:{{ tag }}" class="tag-color">{{ tag }}</a>
            </div>
            {% endfor %}
            <div style="float: right">

                <table style="width: 300px">
                    <tr>
                        <td style="float: right; text-align: right; width: 150px;">
                            {% load static %}
                            {% if question.get_avatar %}
                            <img src="{{ question.get_avatar }}" height="60px" width="60px">
                            {% else %}
                            <img src="{% static '/incognito.png' %}" height="40px" width="60px">
                            {% endif %}
                        </td>
                        <td style="width: 150px;">
                            <div class="body_div" style="float: right; margin: 5px; text-align: right;
                padding: 5px; font-style:italic; font-weight: 600; color: #878">
                                {{ question.author.username }}
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

</div>
<hr style="width: 80%; margin-left: 10%; border-color: #515160;">


<div id="answers-for-question"></div>
<div id="question-id-div" style="display:none">{{ question.id }}</div>

{% if request.user.is_authenticated %}
<form method="post" action="{{ request.url }}">
    {% csrf_token %}
    <div style="margin-left: 25%; margin-top: 0px; font-size: 20px; color: #bbc">
        <table width="80%">
            <tr>
                <td style="width: 30%">YOUR ANSWER</td>
                <td style="height: 100px; text-align: center">
                    <input class="btn_spec" style="padding: 10px 50px; margin: 0% 15%;" type="submit" value="Submit"/>
                </td>
            </tr>

            <tr>
                <td> Text </td>
                <td><textarea name="Text" style="padding: 10px;" maxlength="2000" cols="40" rows="10">
                </textarea> </td>
            </tr>
            <tr>
                <td style="height:10px"></td>
            </tr>

        </table>
    </div>
</form>

{% endif %}


{% endblock %}

