{% if question_list_by_trend %}
<script>
    $('.has_next_trend').click(function(){
        $.get('/paginate_data/', {page: parseInt($(this).attr("value")) + 1, data: 't'}, function(data){
            $('#trend-list').html(data);
        });
    });

</script>

<script>
    $('.has_prev_trend').click(function(){
        $.get('/paginate_data/', {page: parseInt($(this).attr("value")) - 1, data: 't'}, function(data){
            $('#trend-list').html(data);
        });
    });
</script>

<button class="body_div btn_spec not-chosen has_prev_trend" value="{{ page }}"
        style="padding: 1px; margin-right: 5%; margin-top: 2%; font-size: 17px;
        {% if not question_list_by_trend.has_previous %} visibility: hidden {% endif %}"><<<
</button>

<button class="body_div btn_spec not-chosen has_next_trend" value="{{ page }}"
        style="padding: 1px; margin-left: 5%; margin-top: 2%; font-size: 17px;
        {% if not question_list_by_trend.has_next %} visibility: hidden {% endif %}">>>>
</button>
<div style="margin-top: 40px;"></div>
{% for question in question_list_by_trend %}
<hr style="width: 80%; margin-left: 10%; border-color: #515160;">
<div style="height: 130px;">
    <div class="body_div" style="width: 6%; border: dotted 1px; padding: 10px; vertical-align: top;">
        <p>{{ question.rating }}</p>
        <p>Votes</p>
    </div>
    <div class="body_div" style="width: 2%"></div>
    <div class="body_div" style="width: 8%; border: dotted 1px; padding: 10px; vertical-align: top;">
        <p> {{ question.answer_set.count }}</p>
        <p>Answers</p>
    </div>
    <div class="body_div" style="width: 2%"></div>
    <div class="body_div" style="width: 30%; vertical-align: top;">
        <p><a href="{{ question.get_url }}">{{ question }}</a></p>
        {% for tag in question.get_tags %}
        <div class="body_div" style="border: dotted 1px;
                padding: 5px; font-style:italic; font-weight: 600; color: #656">
            <a href="/search/?search=tag:{{ tag }}" class="tag-color">{{ tag }}</a>
        </div>
        {% endfor %}
    </div>
    <div class="body_div" style="width: 20%">
        {% load static %}
        {% if question.get_avatar %}
        <img src="{{ question.get_avatar }}" height="60px" width="60px">
        {% else %}
        <img src="{% static '/incognito.png' %}" height="40px" width="60px">
        {% endif %}
        <p style="margin-top: 10px;">{{ question.author.username }} </p>
        <p>{{ question.was_published_ago }}</p>
    </div>
</div>
{% endfor %}
{% endif %}